.card_movie {
  width: 300px;
  display: flex;
  color: #f5f5f5;
  background-color: #f5f5f530;
  flex-direction: column;
  margin: 15px;
  align-items: center;
  border-radius: 5px;
}

.card_movie:hover {
  cursor: pointer;
}

.card_image {
  border-radius: 5px;
  width: 300px;
  height: 400px;
}

.title_card {
  margin: 10px;
}

.card_movie_overview {
  margin: 10px;
}

.card_movie_text {
  text-align: center;
  margin: 10px;
  font-size: 15px;
}
