*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #000814;
  background: linear-gradient(to right, #000814, #14213d, #000814);
  margin: 0;
}

.container_main_menu {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  background: hsl(0, 0%, 7%);
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

.categories {
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
}